@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
    <style>
        html, body {
            width: 1920px;
            height: 1080px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
  <div class="index">
    <img class="vector-3" src="~/Images/vector-30.svg" />
        <img class="vector-2" src="~/Images/vector-20.svg" />
        <img class="vector-1" src="~/Images/vector-10.svg" />
    <div class="header">
      <div class="frame-7">
        <div class="frame-3">
          <a href="/"><div class="div">Головна</div></a>
          <a href="/kafedra"><div class="div">Кафедри</div></a>
          <a href="/disciplines"><div class="div">Дисципліни</div></a>
          <a href="/lectures"><div class="div">Викладачі</div></a>
          <a href="/grades"><div class="div">Оцінки</div></a>
        </div>
                <img class="user" src="~/Images/user0.svg" />
      </div>
    </div>
    <div class="frame-5">
      <div class="frame-6">
       
        <div
          class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat"
        >
          УПРАВЛІННЯ ОСВІТОЮ: 
          Моніторинг успішності студентів
          Аніканов Арсеній К22-2
        </div>
      </div>
      <div class="frame-4">
        <div class="div3">Увійти в Аккаунт</div>
      </div>
      <div class="frame-72">
        <div class="div4">Інформація про Кафедру</div>
      </div>
    </div>
    <div class="_8703118-3974105-1">
            <img class="objects" src="~/Images/objects0.svg" />
    </div>
  </div>  
</body>
</html>
