@page "/kafedra"
@model Main.Pages.KafedraModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
    <style>
        html, body {
            width: 1920px;
            height: 1080px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="kafedri">
        <div class="header">
            <div class="frame-7">
                <div class="frame-3">
                    <a href="/"><div class="div">Головна</div></a>
                    <a href="/kafedra"><div class="div">Кафедри</div></a>
                    <a href="/disciplines"><div class="div">Дисципліни</div></a>
                    <a href="/lectures"><div class="div">Викладачі</div></a>
                    <a href="/grades"><div class="div">Оцінки</div></a>
                </div>
                <img class="user" src="~/Images/user0.svg" />
            </div>
        </div>
        <div class="frame-13">
            <div class="frame-11">
                <div class="frame-8">
                    <img class="інженерія" src="~/Images/інженерія.jpg" />
                    <div class="div2">Інженерія програмного забезпечення</div>
                </div>
                <div class="frame-10">
                    <div class="div3">
                        Інженерія програмного забезпечення (ІПЗ) спрямована на підготовку
                        фахівців, які здатні розробляти, тестувати, впроваджувати та
                        підтримувати програмні системи. Основна мета цієї спеціальності –
                        навчити студентів проектувати високоякісне програмне забезпечення з
                        використанням сучасних методів та інструментів.
                    </div>
                    <div class="div4">
                        <span>
                            <span class="div-4-span">
                                Ключові дисципліни:
                                <br />
                            </span>
                            <span class="div-4-span2">
                                Основи програмування
                                <br />
                                Алгоритми та структури даних
                                <br />
                                Проектування програмного забезпечення
                                <br />
                                Тестування та забезпечення якості ПЗ
                                <br />
                                Управління проектами в ІТ
                            </span>
                        </span>
                    </div>
                    <div class="div5">Дивитися всі дисципліни...</div>
                </div>
            </div>
            <div class="frame-12">
                <div class="frame-8">
                    <img class="компнауки" src="~/Images/компнауки.jpg" />
                    <div class="div2">Інженерія програмного забезпечення</div>
                </div>
                <div class="frame-10">
                    <div class="div3">
                        Комп&#039;ютерні науки охоплюють більш широке поле знань, включаючи
                        теорію, розробку, аналіз і застосування алгоритмів та програмних
                        систем. Випускники цієї спеціальності отримують фундаментальні знання,
                        які дозволяють їм розв’язувати складні наукові та інженерні задачі.
                    </div>
                    <div class="div4">
                        <span>
                            <span class="div-4-span3">
                                Ключові дисципліни:
                                <br />
                            </span>
                            <span class="div-4-span4">
                                Основи програмування
                                <br />
                                Алгоритми та структури даних
                                <br />
                                Проектування програмного забезпечення
                                <br />
                                Тестування та забезпечення якості ПЗ
                                <br />
                                Управління проектами в ІТ
                            </span>
                        </span>
                    </div>
                    <div class="div5">Дивитися всі дисципліни...</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>